.col-xs-12 > span {
  display: block;
}

.medium {
  max-width: 40%;
  text-align: center;
  display: inline-block;
}

.col-xs-12 > button {
  vertical-align: baseline;
  margin-left: 3%;
}

.left10 {
  margin-left: -10%;
}